
footer{
	padding-top: 3%;
	border-top-style: solid;
	border-width: 1px;

}

#ListRedSocial{
	background-color: #fff !important;

}

footer ul li img {
width: 40px;
height: 40px;

margin: 2%;
}

footer ul li {
    list-style-type: none;
	
}